@media only screen and (max-width: 600px) {
    #refresh-status {
        display: none;
    }
    #auth {
        min-width: 100%;
    }
}

#username {
    margin-left: .5rem;
}

form#auth {
    min-width: 400px;
    padding: 2rem 0 2rem
}

div [class*="left floated"] {
    float: left;
}

div [class*="right floated"] {
    float: right;
}